---
interface Props {
    url: string;
    name: string;
}

const { url, name } = Astro.props;
const id = url.split('/').at(-2);
const imgSrc = `https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/${id}.png`
---

<a href={`/pokemons/${name}`} class="rounded border flex flex-col justify-center items-center p-2">
    <img src={imgSrc} alt={name}>
    <span class="capitalize">{name}</span>
</a>
